<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="userData.username" 
        name="username"
        required
        [minlength]="validationConfig.username.minlength"
        [maxlength]="validationConfig.username.maxlength"
        [pattern]="validationConfig.username.pattern"
        #username="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error-message">
      <p>{{ getErrorMessage('username', loginForm) }}</p>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="userData.password" 
        name="password"
        required
        [minlength]="validationConfig.password.minlength"
        [maxlength]="validationConfig.password.maxlength"
        [pattern]="validationConfig.password.pattern"
        #password="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
      <p>{{ getErrorMessage('password', loginForm) }}</p>
    </div>

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Ingresar</ion-button>
  </form>
</ion-content>
